@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-foreground);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /* Animation property */
    --border-angle: 0deg;
}

@theme {
    /* Custom properties */
    --radius: 0.65rem;
    --color-background: oklch(0.145 0 0);
    --color-foreground: oklch(0.985 0 0);
    --color-card: oklch(0.205 0 0);
    --color-card-foreground: oklch(0.985 0 0);
    --color-popover: oklch(0.205 0 0);
    --color-popover-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.922 0 0);
    --color-primary-foreground: oklch(0.205 0 0);
    --color-secondary: oklch(0.269 0 0);
    --color-secondary-foreground: oklch(0.985 0 0);
    --color-muted: oklch(0.269 0 0);
    --color-muted-foreground: oklch(0.708 0 0);
    --color-accent: oklch(0.269 0 0);
    --color-accent-foreground: oklch(0.985 0 0);
    --color-destructive: oklch(0.704 0.191 22.216);
    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);
    --color-ring: oklch(0.556 0 0);

    --animate-border: border 4s linear infinite;

    @keyframes border {
        0% {
            --border-angle: 0deg;
        }
        100% {
            --border-angle: 360deg;
        }
    }
}

/* CSS Property registration for animations */
@property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

#app {
}

.main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-background);
}
